.cursor {
  width: 40px;
  height: 40px;

  border: 1px solid white;
  border-radius: 50%;

  position: absolute;
  top: -100px;
  left: -100px;

  z-index: 100;
}

.cursor-dot {
  width: 5px;
  height: 5px;

  background: coral;
  border-radius: 50%;

  position: absolute;
  top: -100px;
  left: -100px;

  z-index: 101;
}

.hidden {
  animation: fadeOut 200ms linear 0s 1 forwards;
}

.visible {
  animation: fadeIn 200ms linear 0s 1 forwards;
}

.cursor-grow {
  animation: enlargeCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-shrink {
  animation: shrinkCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-can-click {
  animation: enlargeCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-cannot-click {
  animation: shrinkCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-startGrabbing::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;

  animation: springLoadLeft 500ms linear 0s 1 normal forwards, fadeIn 300ms linear 0s 1 normal forwards;
}

.cursor-startGrabbing::after {
  content: "";

  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);

  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;

  animation: springLoadRight 500ms linear 0s 1 normal forwards, fadeIn 300ms linear 0s 1 normal forwards;
}

.cursor-stopGrabbing::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;

  animation: springReleaseLeft 300ms linear 0s 1 normal forwards, fadeOut 300ms linear 0s 1 normal forwards;
}

.cursor-stopGrabbing::after {
  content: "";

  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);

  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;

  animation: springReleaseRight 300ms linear 0s 1 normal forwards, fadeOut 300ms linear 0s 1 normal forwards;
}

.cursor-leftOfScreen::before {
  content: "";

  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(60%) rotate(135deg);

  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;

  animation: fadeIn 300ms linear 0s 1 normal forwards;
}

.cursor-rightOfScreen::before {
  content: "";

  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(40%) rotate(-45deg);

  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;

  animation: fadeIn 300ms linear 0s 1 normal forwards;
}
