@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// arrows
@keyframes springLoadLeft {
  0% {
    left: -40px;
  }
  75% {
    left: -20px;
  }
  100% {
    left: -15px;
  }
}
@keyframes springLoadRight {
  0% {
    right: -40px;
  }
  75% {
    right: -20px;
  }
  100% {
    right: -15px;
  }
}
@keyframes springReleaseLeft {
  from {
    opacity: 1;
    left: -15px;
  }
  to {
    opacity: 0;
    left: -70px;
  }
}
@keyframes springReleaseRight {
  from {
    opacity: 1;
    right: -15px;
  }
  to {
    opacity: 0;
    right: -70px;
  }
}

// cursor
@keyframes enlargeCursor {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.75);
  }
}

@keyframes shrinkCursor {
  from {
    transform: scale(1.75);
  }
  to {
    transform: scale(1);
  }
}
