.timeline {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);

  width: 400px;
  height: 100px;
  padding: 2.5rem;
  background: #000;
  color: hotpink;
  text-align: center;
  text-transform: uppercase;
}
