.cursor {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 100;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background: coral;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 101;
}

.hidden {
  -webkit-animation: fadeOut 200ms linear 0s 1 forwards;
          animation: fadeOut 200ms linear 0s 1 forwards;
}

.visible {
  -webkit-animation: fadeIn 200ms linear 0s 1 forwards;
          animation: fadeIn 200ms linear 0s 1 forwards;
}

.cursor-grow {
  -webkit-animation: enlargeCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
          animation: enlargeCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-shrink {
  -webkit-animation: shrinkCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
          animation: shrinkCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-can-click {
  -webkit-animation: enlargeCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
          animation: enlargeCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-cannot-click {
  -webkit-animation: shrinkCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
          animation: shrinkCursor 400ms cubic-bezier(0.42, 0, 0.58, 1) 0s 1 normal forwards;
}

.cursor-startGrabbing::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-animation: springLoadLeft 500ms linear 0s 1 normal forwards, fadeIn 300ms linear 0s 1 normal forwards;
          animation: springLoadLeft 500ms linear 0s 1 normal forwards, fadeIn 300ms linear 0s 1 normal forwards;
}

.cursor-startGrabbing::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-animation: springLoadRight 500ms linear 0s 1 normal forwards, fadeIn 300ms linear 0s 1 normal forwards;
          animation: springLoadRight 500ms linear 0s 1 normal forwards, fadeIn 300ms linear 0s 1 normal forwards;
}

.cursor-stopGrabbing::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-animation: springReleaseLeft 300ms linear 0s 1 normal forwards, fadeOut 300ms linear 0s 1 normal forwards;
          animation: springReleaseLeft 300ms linear 0s 1 normal forwards, fadeOut 300ms linear 0s 1 normal forwards;
}

.cursor-stopGrabbing::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-animation: springReleaseRight 300ms linear 0s 1 normal forwards, fadeOut 300ms linear 0s 1 normal forwards;
          animation: springReleaseRight 300ms linear 0s 1 normal forwards, fadeOut 300ms linear 0s 1 normal forwards;
}

.cursor-leftOfScreen::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(60%) rotate(135deg);
          transform: translateY(-50%) translateX(60%) rotate(135deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-animation: fadeIn 300ms linear 0s 1 normal forwards;
          animation: fadeIn 300ms linear 0s 1 normal forwards;
}

.cursor-rightOfScreen::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(40%) rotate(-45deg);
          transform: translateY(-50%) translateX(40%) rotate(-45deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  -webkit-animation: fadeIn 300ms linear 0s 1 normal forwards;
          animation: fadeIn 300ms linear 0s 1 normal forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes springLoadLeft {
  0% {
    left: -40px;
  }
  75% {
    left: -20px;
  }
  100% {
    left: -15px;
  }
}

@keyframes springLoadLeft {
  0% {
    left: -40px;
  }
  75% {
    left: -20px;
  }
  100% {
    left: -15px;
  }
}

@-webkit-keyframes springLoadRight {
  0% {
    right: -40px;
  }
  75% {
    right: -20px;
  }
  100% {
    right: -15px;
  }
}

@keyframes springLoadRight {
  0% {
    right: -40px;
  }
  75% {
    right: -20px;
  }
  100% {
    right: -15px;
  }
}

@-webkit-keyframes springReleaseLeft {
  from {
    opacity: 1;
    left: -15px;
  }
  to {
    opacity: 0;
    left: -70px;
  }
}

@keyframes springReleaseLeft {
  from {
    opacity: 1;
    left: -15px;
  }
  to {
    opacity: 0;
    left: -70px;
  }
}

@-webkit-keyframes springReleaseRight {
  from {
    opacity: 1;
    right: -15px;
  }
  to {
    opacity: 0;
    right: -70px;
  }
}

@keyframes springReleaseRight {
  from {
    opacity: 1;
    right: -15px;
  }
  to {
    opacity: 0;
    right: -70px;
  }
}

@-webkit-keyframes enlargeCursor {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
}

@keyframes enlargeCursor {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
}

@-webkit-keyframes shrinkCursor {
  from {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrinkCursor {
  from {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.timeline {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  width: 400px;
  height: 100px;
  padding: 2.5rem;
  background: #000;
  color: hotpink;
  text-align: center;
  text-transform: uppercase;
}

:root {
  --color-bg: #171717;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
  cursor: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.magnet {
  width: 20px;
  height: 20px;
  border: 2px solid hotpink;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 90px rgba(241, 213, 159, 0.03);
          box-shadow: 0 0 0 90px rgba(241, 213, 159, 0.03);
}
/*# sourceMappingURL=index.css.map */