@import "cursor";
@import "keyframes";
@import "timeline";

:root {
  --color-bg: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  background-color: var(--color-bg);
  cursor: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.magnet {
  width: 20px;
  height: 20px;
  border: 2px solid hotpink;
  border-radius: 50%;
  box-shadow: 0 0 0 90px rgba(241, 213, 159, 0.03);
}
